.alltestcards {
  width: 350px;

  display: inline;

  margin: 5px;
}
.onetestcard {
  margin: 0px auto;
  border-radius: 10px;
  text-align: center;
  padding-bottom: 20px;
  background-image: white;
  align-items: center;
  color: gray;
}
.alltest {
  align-items: center;
}

.cardtitle {
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.cardbtn {
  background: transparent;
  padding: 10px;
  border-radius: 5px;
  border: solid #141e30 3px;
  margin: 10px;
  color: #141e30;
}
.cardbtn:hover {
  color: white;
  border: solid black 3px;
}
.onetestcard:hover {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.04);
  box-shadow: 1px 1px 1px 1px gray;
  background-color: white;
}
.cards {
  width: 90%;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;

  display: flex;
}

.subjecttext {
  padding: 10px;
  padding-left: 30px;
  font-size: 22px;
  font-weight: 500;
  border-bottom: solid #eae8e8b5 1px;
  color: white;
}

.arrow-rightforbadge {
  background-color: orange;
  /* box-shadow: 0 0 3px 2px rgba(0,0,0,0.8); */
  background-color: #383e4900;
  box-shadow: 0 0 3px 2px #80808096;
  height: 25px;
  left: -10px;
  color: black;
  top: -80px;
  width: 100px;
  border-radius: 5px;
  padding: 5px;
  font-size: 12px;
  font-weight: 600;
}

/*.arrow-right {
      width: 0; 
      height: 0; 
      border-bottom: 80px solid transparent;
  
      border-left: 80px solid #444;
    margin-left: 0;
    position: absolute;
    top: 0;
  }*/

/*.arrow-right::after {
    background-color: transparent;
    box-shadow: 0 6px 6px 1px black;
    content: "";
    display: block;
    height: 0px;
    left: -102px;
    position: absolute;
    top: 39px;
    width: 115px;
  
    
    -webkit-transform: rotate(-45deg);
  }*/

.arrow-rightforbadge span {
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 1.005em;
  left: 28px;
  top: 78px;

  width: 70px;
  color: black;
}
